node_modules/
.build/
coverage/
.env
.env.*
!.env.example

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
terraform/crash.log
terraform/crash.*.log
terraform/.artifacts/*.zip
!terraform/.artifacts/.gitkeep

*.log
.DS_Store
.idea/
.vscode/
